body{
    color: white;
    background-color: black;
}
h1{
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    padding-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.kitten-pic{
width: 250px;
height: auto;
text-align: center;
}
.gallery:hover{
    border: 1px solid gray;
}
.page-desc{
    text-align: center;
    padding: 25px;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden; /* takes up entire line */
}
li {
    float: right;
}
li a {
    display: block;
    padding: 20px 20px ;
    background-color: #000000;
    color: white;
    text-decoration: none;
    text-align: center;
}
li a:hover{
    color: gray;
}
.border{
border: 2px solid white;
padding: 15px;
border-bottom: 0px;
border-left: 0px;
border-right: 0;
}
.profile-link{
    color: white;
}
footer{
    padding-top: 100px;
}
.parent-pic{
    width: 400px;
    height: auto;
    text-align: center;  
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.underline{
    text-decoration: underline;
}
.contact-info{
    padding-top: 15px;
    display: block;
    padding-bottom: 15px;
}
.contact-info-h{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 15px;
}
.center{
    text-align: center;
}
.mlem{
width: 250px;
height: auto;
}
.diet-bullet{
    width: 100%
}
.source{
    padding: 10px;
}
.source:hover{
    color: grey;
}
.diet-pic{
    width: 250px;
height: auto;
text-align: center;

}
.animal-fat{
    padding-top: 5px;
}